In [18]:
import os
import camelot
import pandas as pd

In [19]:
file_input = 'origin_files/082521.pdf'
pdf_file = camelot.read_pdf(file_input, pages='1-end', flavor='stream')

In [3]:
type(pdf_file)

camelot.core.TableList

In [4]:
pdf_file

In [5]:
pdf_file[0]

In [6]:
first_table = pdf_file[0]
first_table.df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,GCV1,,,,,GCZ1,,,,GCG2,,
1,,,63 DTE,,,,,126 DTE,,,,183 DTE,,
2,,,1785.3,,,,,1788.6,,,,1790.6,,
3,,OGU1,,OGV1,,OGX1,,OGZ1,,OGF2,,OGG2,,
4,STRIKES,0 DTE,,32 DTE,,61 DTE,,89 DTE,,,124 DTE,,153 DTE,STRIKES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,1265,,,,,,,,31,,,,,1265
72,,CALL,PUT,CALL,PUT,CALL,PUT,CALL,PUT,CALL,PUT,CALL,PUT,
73,STRIKES,,,,,,,,,,,,,STRIKES
74,,OGU1,,OGV1,,OGX1,,OGZ1,,OGF2,,OGG2,,
75,,0 DTE,,32 DTE,,61 DTE,,89 DTE,,,124 DTE,,153 DTE,

In [8]:
#first_table.to_excel("final.xlsx", index =False)

In [7]:


file_basename = os.path.basename(file_input)
file_basename

'082521.pdf'

In [8]:
basename_without_ext = os.path.splitext(os.path.basename(file_input))[0]
basename_without_ext

'082521'

In [9]:

filename_output = 'converted_'+ basename_without_ext + '.xlsx'
first_table.to_excel(filename_output, index = False)